# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
env/
venv/

# Django stuff
*.log
media/
staticfiles/
shared/

# VSCode / PyCharm
.vscode/
.idea/

# Docker
*.pid
*.seed
*.db
.env
test.yml

# Celery
celerybeat-schedule