{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tasks{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'tasks' %}">Tasks</a>
        <a href="{% url 'task-create' %}">Create Task</a>
        <a href="{% url 'reports' %}">Reports</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
